body {
    display: block;
    background-color:rgb(226, 220, 212);
    margin-left: 24px;
    margin-right: 24px;
}

img {
    height: 225px;
    width: 275px;
}

h1 {
    background-color: rgb(233, 214, 91);
    text-align: left;
    padding: 8px;
}

h2 {
    background-color: rgb(235, 240, 144);
    text-align: left;
    padding: 8px;
    margin-top: -20px;
}
a {
    text-decoration: none;
}
li { 
    margin-left: -6px;
    margin-top: -1px;
    list-style: none;
    font: serif;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

button {
    height: 270px;
    width: 275px;
    background-color: rgb(235, 240, 144);
    border: rgb(190, 169, 143);
    margin-left: 48px;
}

.first {
    margin-left: -40px;
}
