body {
    background-color:rgb(226, 220, 212);
    text-align: center;
}

h1 {
    background-color: rgb(169, 139, 102);
}

h2 {
    background-color: rgb(190, 169, 143);
}

#Button {
    background-color: rgb(63, 55, 31);
    color: white; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
}
